# 문자열이란?
- 문자열(String)이란 문자, 단어 등으로 구성된 문자들의 집합
- 따옴표로 둘러싸여 있으면 모두 문자열

#문자열은 어떻게 만들고 사용할까?
1. 큰따옴표(")로 양쪽 둘러싸기

In [ ]:
"Hello World"

2. 작은따옴표(')로 양쪽 둘러싸기

In [ ]:
'Python is fum'

3. 큰따옴표 3개를 연속(""")으로 써서 양쪽 둘러싸기

In [ ]:
""" Life is too short, You need python"""

4. 작은따옴표 3개를 연속(''')으로 써서 양쪽 둘러싸기

In [ ]:
'''Lige is too short, You need python'''

##문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때
: 문자열 안에도 작은따옴표와 큰따옴표가 들어 있어야 할 경우

1. 문자열에 작은따옴표 (') 포함시키기

In [ ]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

작은따옴표(')가 포함된 문자열이라면 큰따옴표(")로 둘러싸면 된다.

큰따옴표(")가 아닌 작은따옴표(')로 문자열을 둘러싼 후 다시 실행해 보자. 'Python'이 문자열로 인식되어 구문 오류(SyntaxError)가 발생

In [ ]:
food = 'Python's favorite food is perl'

SyntaxError: ignored

2. 문자열에 큰따옴표 (") 포함시키기

In [ ]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

큰따옴표(")가 포함된 문자열이라면 작은따옴표(')로 둘러싸면 된다.

작은따옴표(') 안에 사용된 큰따옴표(")는 문자열을 만드는 기호로 인식되지 않는다.

3. **백슬래시(\\**)를 사용해서 작은따옴표(')와 큰따옴표(")를 문자열에 포함시키기

In [ ]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says.

**백슬래시(\\)**를 작은따옴표(')나 큰따옴표(") **앞**에 삽입

##여러 줄인 문자열을 변수에 대입하고 싶을 때
1. **줄을 바꾸기** 위한 이스케이프 코드 **\n** 삽입하기

In [ ]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

2. 연속된 **작은따옴표 3개(''')** 또는 **큰따옴표 3개(""")** 사용하기

In [ ]:
mutiline = '''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [ ]:
mutiline = """
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

##이스케이프 코드란?

프로그래밍할 때 사용할 수 있도록 **미리 정의해 둔 "문자 조합"**으로

출력물을 보기 좋게 **정렬하는 용도**로 사용

- \n : 문자열 안에서 줄을 바꿀 때 사용
- \t : 문자열 사이에 탭 간격을 줄 때 사용
- \\\ : 문자 \를 그대로 표현할 때 사용
- \\' : 작은따옴표(')를 그대로 표현할 때 사용
- \\" : 큰따옴표("")를 그대로 표현할 때 사용
- \r : 캐리지 리턴(줄 바꿈 문자, 현재 커서를 가장 앞으로 이동)
- \f : 폼 피드(줄 바꿈 문자, 현재 커서를 다음 줄로 이동)
- \a : 벨 소리(출력할 때 PC 스피커에서  '삑' 소리가 난다)
- \b : 백 스페이스
- \000 : 널 문자

#문자열 연산하기

##문자열 더해서 연결하기(Concatenation)

In [ ]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

##문자열 곱하기기

In [ ]:
a = "python"
a * 2

'pythonpython'

*는 문자열의 반복을 뜻하는 의미로 사용

##문자열 곱하기 응용

In [ ]:
# multistring.py

print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

##문자열 길이 구하기

In [ ]:
a = "Life is too short"
len(a)

17

#문자열 인덱싱과 슬라이싱

##문자열 인덱싱이란?

In [ ]:
 a = "Life is too short, You need Python"
 a[3]

'e'

**"파이썬은 0부터 숫자를 센다."**

a[번호]는 **문자열 안의 특정한 값을 뽑아**내는 역할을 한다. 이러한 작업을 인덱싱

##문자열 인덱싱 활용하기

In [ ]:
a = "Life is too short, You need Python"
a[-1]

'n'

**문자열을 뒤에서부터 읽기** 위해 **마이너스(-) 기호**를 붙이는 것

In [ ]:
a = "Life is too short, You need Python"
a[-0]

'L'

##문자열 슬라이싱이란?

In [ ]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'



>인덱싱 기법과 슬라이싱 기법은 뒤에서 배울 자료형인 리스트나 튜플에서도 사용할 수 있다.

In [ ]:
a = "Life is too short, You need Python"
a[0:3]

'Lif'

a[시작 번호:끝 번호]를 지정할 때 **끝 번호에 해당하는 것은 포함하지 않는다**

0 <= a < 3

## 문자열을 슬라이싱 하는 방법

In [ ]:
a = "Life is too short, You need Python"
a[0:5]

'Life '

공백 문자 역시 L, i, f, e 같은 문자와 동일하게 취급

In [ ]:
a = "Life is too short, You need Python"
print(a[5:7])
print(a[19:])
print(a[:17])
print(a[:])

is
You need Python
Life is too short
Life is too short, You need Python

a[시작 번호:끝 번호]에서 끝 번호 부분을 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아낸다.

a[시작 번호:끝 번호]에서 시작 번호를 생략하면 문자열의 처음부터 끝 번호까지 뽑아낸다.

a[시작 번호:끝 번호]에서 시작 번호와 끝 번호를 생략하면 문자열의 처음부터 끝까지를 뽑아낸다.

In [ ]:
a = "Life is too short, You need Python"
print(a[19:-7])

You need

 역시 a[-7]은 포함하지 않는다.

## 슬라이싱으로 문자열 나누기

In [ ]:
a = "20010331Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20010331
Rainy

In [ ]:
a = "20010331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
print(weather)

2001
0331
Rainy

##"Pithon"이라는 문자열을 "Python"으로 바꾸려면?

In [ ]:
a = "Pithon"
a[1] = 'y'
print(a[1])

TypeError: ignored

당연히 오류가 발생한다. 

왜냐하면 문자열의 요솟값은 바꿀 수 있는 값이 아니기 때문이다.

(문자열 자료형은 그 요솟값을 변경할 수 없다. 그래서 immutable한 자료형이라고도 부른다)

In [ ]:
a = "pithon"
print(a[:1])
print(a[2:])
print(a[:1] + 'y' + a[2:])

p
thon
python

#문자열 포매팅

**문자열 안의 특정한 값을 바꿔야 할 경우**가 있을 때 이것을 가능하게 해주는 것이 바로 문자열 포매팅 기법이다.

쉽게 말해 문자열 포매팅이란 **문자열 안에 어떤 값을 삽입**하는 방법이다.

## 문자열 포매팅 따라하기
**1. 숫자 바로 대입**

In [ ]:
"I eat %d apples." % 3

'I eat 3 apples.'

문자열 안에 정수 3을 삽입하는 방법

문자열 안에서 숫자를 넣고 싶은 자리에 %d 문자를 넣어 주고, 삽입할 숫자 3은 가장 뒤에 있는 % 문자 다음에 써 넣었다. 

- %d는 문자열 포맷 코드

**2. 문자열 바로 대입**

In [ ]:
"I eat %s apples." % "five"

'I eat five apples.'

문자열 안에 또 다른 문자열을 삽입

- 숫자를 넣기 위해서는 %d를 써야 하고, 문자열을 넣기 위해서는 %s를 써야 한다

**3. 숫자 값을 나타내는 변수로 대입**

In [ ]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

**4. 2개 이상의 값 넣기**

In [ ]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

 2개 이상의 값을 넣으려면 마지막 % 다음 괄호 안에 콤마(,)로 구분하여 각각의 값을 넣어 주면 된다.

## 문자열 포맷 코드



- %s : 문자열(String)
- %c : 문자열 1개(character)
- %d : 정수(integer)
- %f : 부동소수(floating-point)
- %o : 8진수
- %x : 16진수
- %% : Literal%(문자 % 자체)

In [ ]:
"I have %s apples" % 3

'I have 3 apples'

In [ ]:
"rate is %s" % 3.234

'rate is 3.234'

** %s는 자동으로 % 뒤에 있는 값을 문자열로 바꾼다**

## 포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다

In [ ]:
"Error is %d%." % 98

ValueError: ignored

**오류발생**


문자열 포맷 코드인 %d와 %가 같은 문자열 안에 존재하는 경우,

 %를 나타내려면 반드시 %%로 써야 하는 법칙이 있기 때문이다. 

 하지만 문자열 안에 %d 같은 포매팅 연산자가 없으면 %는 홀로 쓰여도 상관이 없다.

In [ ]:
"Error is %d%%" %98

'Error is 98%'

## 포맷 코드와 숫자 함께 사용하기
**1. 정렬과 공백**

In [ ]:
"%10s" % "h1"

'        h1'

 %10s는 **전체 길이가 10개인 문자열 공간에서** 대입되는 값을 **오른쪽으로 정렬**하고 그 **앞의 나머지는 공백**으로 남겨 두라는 의미

In [ ]:
"%-10sjane." % 'hi'

'hi        jane.'

 왼쪽 정렬은 %**-**10s

**2. 소수점 표현하기**

In [ ]:
"%0.4f" %3.42134234

'3.4213'

소수점 네 번째 자리까지만 나타내고 싶은 경우에는 위와 같이 사용

 '.'의 의미는 소수점 포인트를 말하고 그 뒤의 숫자 4는 소수점 뒤에 나올 숫자의 개수를 말한다.

In [ ]:
"%10.4f" %3.42134234

'    3.4213'

소수점 네 번째 자리까지만 표시하고 전체 길이가 10개인 문자열 공간에서 오른쪽으로 정렬

## format 함수를 사용한 포매팅

**숫자 바로 대입하기**

In [ ]:
"I eat {0} apples".format(3)

'I eat 3 apples'

 {0} 부분이 숫자 3으로 바뀌었다.

**문자열 바로 대입하기**

In [ ]:
"I eat {0} apples".format("five")

'I eat five apples'

**숫자 값을 가진 변수로 대입하기**

In [ ]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

**2개 이상의 값 넣기**

In [ ]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number,day)

'I ate 10 apples. so I was sick for three days.'

2개 이상의 값을 넣을 경우

 문자열의 {0}, {1}과 같은 인덱스 항목이 format 함수의 입력값으로 순서에 맞게 바뀐다.

**이름으로 넣기**

In [ ]:
"I ate {number} apples. so I was sick for {day} days.".format(number = 10, day = 3)

'I ate 10 apples. so I was sick for 3 days.'

format 함수에는 반드시 name=value 와 같은 형태의 입력값이 있어야만 한다.

**인덱스와 이름을 혼용해서 넣기**

In [ ]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day = 3)

'I ate 10 apples. so I was sick for 3 days.'

**왼쪽 정렬**

In [ ]:
"{0:<10}".format("hi")

'hi        '

:<10 표현식을 사용하면 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수를 10으로 맞출 수 있다.

**오른쪽 정렬**

In [ ]:
"{0:>10}".format("hi")

'        hi'

**가운데 정렬**

In [ ]:
"{0:^10}".format("hi")

'    hi    '

**공백 채우기**

In [ ]:
"{0:=^10}".format("hi")

'====hi===='

In [ ]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

채워 넣을 문자 값은** 정렬 문자 <, >, ^ 바로 앞**에 넣어야 한다.

**소수점 표현하기**

In [ ]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [ ]:
y = 3.42134234
"{0:10.4f}".format(y)

'    3.4213'

자릿수를 10으로 맞출 수도 있다.

**{ 또는 } 문자 표현하기**

In [ ]:
"{{ and }}".format()

'{ and }'

{{ }}처럼 2개를 연속해서 사용하면 된다.

## f 문자열 포매팅
파이썬 3.6 버전부터는 f 문자열 포매팅 기능을 사용할 수 있다.

In [ ]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다'

'나의 이름은 홍길동입니다. 나이는 30입니다'

문자열 앞에 f 접두사를 붙이면 f 문자열 포매팅 기능을 사용할 수 있다.

f 문자열 포매팅은 **표현식을 지원**하기 때문에 다음과 같은 것도 가능하다.


> 표현식이란 문자열 안에서 변수와 +, -와 같은 **수식을 함께 사용하는 것**을 말한다.

In [ ]:
age = 30
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용할 수 있다.

> 딕셔너리는 Key와 Value라는 것을 한 쌍으로 갖는 자료형이다.

In [ ]:
d = {'name':'홍길동', 'age':30 } # 작음따옴표 큰따옴표 다됨
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]} 입니다.' # 큰따옴표만 됨

'나의 이름은 홍길동입니다. 나이는 30 입니다.'

정렬은 다음과 같이 할 수 있다.

In [ ]:
f'{"hi":<10}'    # 왼쪽 정렬

'hi        '

In [ ]:
'{0:<10}'.format("hi")

'hi        '

In [ ]:
f'{"hi":>10}'    # 오른쪽 정렬

'        hi'

In [ ]:
f'{"hi":^10}'    # 가운데 정렬

'    hi    '

공백 채우기는 다음과 같이 할 수 있다.

In [ ]:
f'{"hi":=^10}' # 가운데 정렬하고 '=' 문자로 공백 채우기

'====hi===='

In [ ]:
f'{"hi":!<10}' # 왼쪽 정렬하고 '!' 문자로 공백 채우기

'hi!!!!!!!!'

소수점은 다음과 같이 표현할 수 있다.

In [ ]:
y = 3.42134234
f'{y:0.4f}'    # 소수점 4자리까지만 표현

'3.4213'

In [ ]:
y = 3.42134234
f'{y:10.4f}'    # 소수점 4자리까지 표현하고 총 자리수 10으로 맞춤

'    3.4213'

f 문자열에서 { } 문자를 표시하려면 다음과 같이 두 개를 동시에 사용해야 한다.

In [ ]:
f'{{ and }}'

'{ and }'

#문자열 관련 함수들

문자열 자료형은 자체적으로 함수를 가지고 있다. 

이들 함수를 다른 말로 문자열 내장 함수라 한다. 

이 내장 함수를 사용하려면 문자열 변수 이름 뒤에 ‘.’를 붙인 다음에 함수 이름을 써주면 된다

##문자 개수 세기

In [ ]:
a = "hobby"
a.count('b')

2

##위치 알려주기1(find)

In [ ]:
a = "Python is the best choice"
a.find('b')

14

In [ ]:
a = "Python is the best choice"
a.find('k')

-1

문자열 중 문자 b가 처음으로 나온 위치를 반환한다.

만약 찾는 문자나 문자열이 **존재하지 않는다면 -1을 반환**한다.


>파이썬은 숫자를 0부터 세기 때문에 b의 위치는 15가 아닌 14가 된다.

##위치 알려주기2(index)

In [ ]:
a = "Life is too short"
a.index('t')

8

In [ ]:
a = "Life is too short"
a.index('k')

ValueError: ignored

문자열 중 문자 t가 맨 처음으로 나온 위치를 반환한다. 

만약 찾는 문자나 문자열이 **존재하지 않는다면 오류를 발생**시킨다.

##문자열 삽입(join)

In [ ]:
",".join('abcd')

'a,b,c,d'

abcd 문자열의 **각각의 문자 사이에** ','를 삽입한다.

리스트나 튜플도 입력으로 사용할 수 있다

join 함수의 입력으로 리스트를 사용하는 예는 다음과 같다.

In [ ]:
",".join(['a','b','c','d'])

'a,b,c,d'

##소문자를 대문자로 바꾸기(upper)

In [ ]:
a = "hi"
a.upper()

'HI'

##대문자를 소문자로 바꾸기(lower)

In [ ]:
a = "HI"
a.lower()

'hi'

##왼쪽 공백 지우기(lstrip)

In [ ]:
a = " hi "
a.lstrip()

'hi '

##오른쪽 공백 지우기(rstrip)

In [ ]:
a = " hi "
a.rstrip()

' hi'

##양쪽 공백 지우기(strip)

In [ ]:
a = " hi "
a.strip()

'hi'

##문자열 바꾸기(replace)

In [ ]:
a = " Life is too short"
a.replace("Life", "your leg")

' your leg is too short'

replace(바뀌게 될 문자열, 바꿀 문자열)

##문자열 나누기(split)

In [ ]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

 a.split()처럼 괄호 안에 아무 값도 넣어 주지 않으면 공백(스페이스, 탭, 엔터 등)을 기준으로 문자열을 나누어 준다.

In [ ]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

b.split(':')처럼 괄호 안에 특정 값이 있을 경우에는 괄호 안의 값을 구분자로 해서 문자열을 나누어 준다.