<a href="https://colab.research.google.com/github/yipf1123/human_edu/blob/main/Python/230403crawling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 비 합법적

## 크롤링 코드

In [5]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.naver.com/'

# url 변수에 담긴 html 문서를 불러와서 출력함
req = requests.get(url)
print(req.status_code)

200

### status_code
- HTTP 요청에 대한 응답 상태 코드를 나타내는 변수
- HTTP 요청이 성공적으로 처리되면 응답 상태 코드는 200입니다. 또한, 400대의 상태 코드는 클라이언트 오류를 나타내며, 500대의 상태 코드는 서버 오류

## 실습 .네이버 헤드 뉴스 찾기
- 헤드라인 뉴스

In [47]:
# crawling.py
import requests
from bs4 import BeautifulSoup
import pandas as pd

def crawling(soup):
  print(type(soup))

  div = soup.find("div", class_= 'list_issue')

  # for i in range(10):
  #   result = div.find_all("a")[i].get_text()
  #   print(result, end=", ")

  result = []
  for a in div.find_all("a"):

    result.append(a.get_text())

  return result


def main():
  
  custom_header = {
      'referer' : 'https://www.naver.com',
      'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36'
  }
  url = 'https://www.naver.com'

  req = requests.get(url, headers = custom_header)
  # 파싱
  soup = BeautifulSoup(req.text, "html.parser") #BeautifulSoup 내장함수를 사용가능하게 함
  result = crawling(soup)
  print(result)

if __name__ == "__main__":
  main()

<class 'bs4.BeautifulSoup'>
['홍성·대전 산불 이틀째…헬기 투입되며 진화 속도', "[1보] '서해 피격' 서훈 前안보실장 보석 석방", '尹대통령 "정부, 4·3 희생자·유족 명예회복 위해 최선다할 것"', '인왕산 밤샘 진화작업 …"98% 껐지만 완진 쉽지 않아"', '한일, 尹 방미 전 NSC 경제안보대화 추진…안보대화도 병행', '"견뎌냈으니 딛고섰노라" 75주년 제주4·3희생자 추념식 봉행', '한미일, 3∼4일 제주 남방서 대잠전훈련…北SLBM 대응능력 향상', '금리인상 따른 주택가격 하락으로 민간소비 증가속도 둔화 전망', '대전조차장역 SRT열차 탈선 원인은 온도상승으로 인한 선로변형', '중과실사고시 어업허가 취소한다…"해상인명피해 10% 감소 목표"']

## 연합뉴스 크롤링

In [53]:
# crawling.py
import requests
from bs4 import BeautifulSoup
import pandas as pd

def crawling(soup):
  print(type(soup))

  div = soup.find("div", class_= 'list_body newsflash_body')

  # for i in range(10):
  #   result = div.find_all("a")[i].get_text()
  #   print(result, end=", ")

  result = []
  for a in div.find_all("a"):

    result.append(a.get_text())

  result = result[1:] # 불필요한 정보 지우기위해 슬라이싱
  return result


def main():
  
  custom_header = {
      'referer' : 'https://www.naver.com',
      'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36'
  }
  url = 'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&sid1=001&sid2=140&oid=001&isYeonhapFlash=Y'

  req = requests.get(url, headers = custom_header)
  # 파싱
  soup = BeautifulSoup(req.text, "html.parser") #BeautifulSoup 내장함수를 사용가능하게 함
  result = crawling(soup)
  print(result)

if __name__ == "__main__":
  main()

<class 'bs4.BeautifulSoup'>
['홍성·대전 산불 이틀째…헬기 투입되며 진화 속도', '산림청장 "홍성·대전 산불 오늘 중 완진 목표…강풍이 변수"', '이틀째 꺼지지 않는 옥천 산불…밤새 20㏊ 소실', "법원, '서해 피격 은폐' 서훈 前안보실장 보석 허가", '尹대통령 "정부, 4·3 희생자·유족 명예회복 위해 최선다할 것"', '尹 "모든 정부 기관, BIE실사단 방한일정 지원 만전 기하라"', '인왕산 밤샘 진화작업 …"98% 껐지만 완진 쉽지 않아"', '한일, 尹 방미 전 NSC 경제안보대화 추진…안보대화도 병행', '한미일, 3∼4일 제주 남방서 대잠전훈련…北SLBM 대응능력 향상', '금리인상 따른 주택가격 하락으로 민간소비 증가속도 둔화 전망', '대전조차장역 SRT열차 탈선 원인은 온도상승으로 인한 선로변형', '신복위, 취약계층 채무조정 확대…"원리금 상환 부담 완화"']

In [68]:
# crawling.py
import requests
from bs4 import BeautifulSoup
import pandas as pd

def crawling(soup):
  print(type(soup))

  div = soup.find("table", class_= 'list trackList byChart')

  # for i in range(10):
  #   result = div.find_all("a")[i].get_text()
  #   print(result, end=", ")

  result = []
  for a in div.find_all("a"):

    result.append(a.get_text())

  result = result[1:] # 불필요한 정보 지우기위해 슬라이싱
  return result


def main():
  
  custom_header = {
      'referer' : 'https://www.naver.com', # ID, PW 할때 중요함
      'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36'
  }
  url = 'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&sid1=001&sid2=140&oid=001&isYeonhapFlash=Y'

  req = requests.get(url, headers = custom_header)
  # 파싱
  soup = BeautifulSoup(req.text, "html.parser") #BeautifulSoup 내장함수를 사용가능하게 함
  result = crawling(soup)
  print(result)

if __name__ == "__main__":
  main()

<class 'bs4.BeautifulSoup'>
['尹대통령 "정부, 4·3 희생자·유족 명예회복 위해 최선다할 것"', '與 "4·3 희생자 영전에 애도…진상규명·명예회복 노력할 것"', '"견뎌냈으니 딛고섰노라" 75주년 제주4·3희생자 추념식 봉행', '野, 4·3불참·對日외교 尹 싸잡아 비난…"야구공 던질때 아냐"', "법원, '서해 피격 은폐' 서훈 前안보실장 보석 허가", '한미일, 제주 남방서 대잠전훈련 돌입…北SLBM 대응능력 향상', '尹 "모든 정부 기관, BIE실사단 방한일정 지원 만전 기하라"', '\'이성윤 수사팀\' 압수수색한 공수처…대법도 "문제없다"', '홍성·대전 산불 이틀째…헬기 투입되며 진화 속도', '금리인상 따른 주택가격 하락으로 민간소비 증가속도 둔화 전망', '대전조차장역 SRT열차 탈선 원인은 온도상승으로 인한 선로변형', '시민단체 "공직자 재산 형성과정 철저히 조사·공개해야"', '신복위, 취약계층 채무조정 확대…"원리금 상환 부담 완화"']

## 벅스뮤직차트 크롤링

In [139]:
# get_text().replace.("\n", '')
import requests
from bs4 import BeautifulSoup
import pandas as pd

def crawling(soup):

  # result = []
  # for a_tag in soup.find_all("a"):
  #   title = a_tag.get("title")
  #   if title is not None:
  #     result.append(title)  
  # result = result[0::3]
  # return result
 
  result = []
  tbody = soup.find("tbody")
  p_tags = tbody.find_all("p", class_ = "title")
  for p in p_tags:
    result.append(p.get_text().replace("\n", ''))
    
  return result

def main():
  
  custom_header = {
      'referer' : 'https://music.bugs.co.kr/',
      'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36'
  }
  url = 'https://music.bugs.co.kr/chart'

  req = requests.get(url, headers = custom_header)
  # 파싱
  soup = BeautifulSoup(req.text, "html.parser") #BeautifulSoup 내장함수를 사용가능하게 함
  result = crawling(soup)
  print(result)

if __name__ == "__main__":
  main()

['Kitsch', '꽃', 'Ditto', 'Hype Boy', 'Teddy Bear', '건물 사이에 피어난 장미 (Rose Blossom)', 'OMG', 'Love Me Like This', '밤이 무서워요 (Lonely Night)', 'I Don’t Think That I Like Her', 'Attention', 'CHRISTIAN', '파이팅 해야지 (Feat. 이영지)', '사건의 지평선', 'ANTIFRAGILE', 'After LIKE', 'LOVE DIVE', 'VIBE (feat. Jimin of BTS)', '심(心)', 'Poppy (Korean Ver.)', 'Dangerously', '한 페이지가 될 수 있게', '벚꽃 엔딩', 'Shut Down', '사랑인가 봐', '오르트구름', 'Cookie', 'Candy', "That's Hilarious", 'Nostalgia', 'Nxde', 'Feel My Rhythm', '너의 모든 순간', 'Pink Venom', 'FEARLESS', 'When I Get Old', 'ELEVEN', 'Off My Face', '모든 날, 모든 순간 (Every day, Every Moment)', '딱 10CM만', 'TOMBOY', 'Made You Look', '다정히 내 이름을 부르면', 'Unholy', 'STAY', 'Rush Hour (Feat. j-hope of BTS)', '봄 사랑 벚꽃 말고', 'Dreamers [Music from the FIFA World Cup Qatar 2022 Official Soundtrack] (feat. FIFA Sound)', '봄날', '정이라고 하자 (Feat. 10CM)', 'WHEN I MOVE', '해요 (2022)', '취중고백', 'Say I Love You', '그라데이션', '새삥 (Prod. ZICO) (Feat. 호미들)', 'LOVE me', 'Left and Right (Feat. Jung Kook of BTS)', 'Dynamite', 'NOT SORRY (Feat. pH-1) (Prod. by Slom)', '그때 그 순간 그대로 (그그그)', '나의 X에게', 'Love story', 'Monologue', '사랑은 늘 도망가', '결국엔 너에게 닿아서', '도깨비불 (Illusion)', '마지막 사랑', '주저하는 연인들을 위해', 'That’s Not How This Works (feat. Dan + Shay)', '보고싶었어', '드라마', '사랑하기 싫어', 'Young, Dumb, Stupid', '친구로 지내다 보면 (Feat. 김민석 of 멜로망스)', '자격지심 (Feat. ZICO)', '내가 아니라도', 'Rising', '봄여름가을겨울 (Still Life)', 'Expectations', '우린 그렇게 사랑해서', 'INVU', 'strawberry moon', '그댄 행복에 살텐데 (2022)', '팡파레', 'All Eyes On Me', 'Next Level', 'SET ME FREE', 'Hurt', '신호등', 'Anti-Hero', 'Impurities', 'Butter', 'on the street (with J. Cole)', '그대를 알고', '혼자서 걸어요 (Prod. by 나얼)', "I Ain't Worried", '사랑하지 않아서 그랬어', 'Like Crazy', '떠나보낼 준비해 둘걸 그랬어']

In [ ]:
import requests
from bs4 import BeautifulSoup

def crawling(soup):
  pass

def main():
  custom_header = {
      'referer' : 'https://music.bugs.co.kr/',
      'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36'
  }
  url = 'https://music.bugs.co.kr/chart'
  req = requests.get(url, headers = custom_header)
  soup = BeautifulSoup(req.text, "html.parser")
  result = crawling(soup)
  
if __name__ == "__main__":
  main()

# 합법적인 코드

In [159]:
import requests
import lxml
from bs4 import BeautifulSoup

KEY = "3164531739" # 외부파일 지정, 암호화해서 불러옴
url = f'http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key={KEY}&type=xml&iStartUnitCode=101&iEndUnitCode=103'
print(url)

http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=3164531739&type=xml&iStartUnitCode=101&iEndUnitCode=103

## XML

In [194]:
%%time
result = requests.get(url)
content = result.content
soup = BeautifulSoup(content, "lxml")
# print(soup.prettify())

# 3개의 출력변수 선택하시고, 테이터 프레임으로 만들기
stddates = []
stdtimes = []

date_list = soup.find_all('stddate')
time_list = soup.find_all('stdtime')


for date in date_list:
  stddates.append(date.get_text())

for time in time_list:
  stdtimes.append(time.get_text())


# for date, time in zip(date_list, time_list):
#     stddates.append(date.get_text())
#     stdtimes.append(time.get_text())


# stddates = [date.get_text() for date in date_list]
# stdtimes = [time.get_text() for time in time_list]


df = pd.DataFrame({
    'data' : stddates,
    'time' : stdtimes
})

df

#CPU times: user 28.6 ms, sys: 1.78 ms, total: 30.3 ms
#CPU times: user 22.2 ms, sys: 834 µs, total: 23 ms
#CPU times: user 21.3 ms, sys: 3.1 ms, total: 24.4 ms

CPU times: user 22 ms, sys: 2.19 ms, total: 24.2 ms
Wall time: 1.51 s

       data   time
0  20230403   00
1  20230403  00:00
2  20230403  00:05
3  20230403  00:10
4  20230403  00:15
5  20230403  00:20
6  20230403  00:25
7  20230403  00:30
8  20230403  00:35
9  20230403  00:40

##JSON

In [216]:
import requests
import pandas as pd
url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=json&iStartUnitCode=101&iEndUnitCode=103"

In [198]:
responses = requests.get(url)
print(responses)

<Response [200]>

In [218]:
json_df = responses.json()
data = json_df['realUnitTrtmVO']

records = []
for idx in data:
  idx_dict = {}
  idx_dict['date'] = idx['stdDate']
  idx_dict['time'] = idx['stdTime']
  idx_dict['startUnitNm'] = idx['startUnitNm']
  idx_dict['endUnitNm'] = idx['endUnitNm']
  #print(idx_dict)
  records.append(idx_dict)
df = pd.DataFrame(records)
df.to_csv("result.csv",index=False)

In [214]:
# pandas 데이터 프레임으로 변환
# 임의의 출력변수만 3개 선택

stddates = []
stdtimes = []
timeavges = []


date_list = soup.find_all('stddate')
time_list = soup.find_all('stdtime')
timeavg_list = soup.find_all('timeavg')

stddates = [date.get_text() for date in date_list]
stdtimes = [time.get_text() for time in time_list]
timeavges = ["%.2f" % float(timeavg.get_text()) for timeavg in timeavg_list]

df = pd.DataFrame({
    'data' : stddates,
    'time' : stdtimes,
    'avg' : timeavges
})

df

       data   time   avg
0  20230403   00    7.73
1  20230403  00:00  7.73
2  20230403  00:05  7.78
3  20230403  00:10  7.73
4  20230403  00:15  7.71
5  20230403  00:20  7.72
6  20230403  00:25  7.72
7  20230403  00:30  7.72
8  20230403  00:35  7.70
9  20230403  00:40  7.77